@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap");

*{ 
    box-sizing:border-box; 
    margin: 0;
    padding : 0;
    font-family: Poppins;
}

body{ 
    background:#001d1a; 
}

.heading{
    display: flex;
    align-items: center;
    padding: 15px 12px 0px 12px;
    font-size: 2.5rem;
    box-shadow: 0 8px 6px -6px rgb(106, 188, 202);
    margin-bottom: 20px;
}

h1 { 
    text-align:center; 
    font-size: 26px; 
    color: #0c8d80;
    margin-left: 12px;
}

.section{
    margin: auto;
    width : 70%;
}

.section p a{
    font-size:2.2rem;
    display: block;
    text-align: center;
}

.section .links a{
    font-size:1.2rem;
}

.pages , .features , .contact {
    display: flex;
    flex-direction:column;
    margin : 0 2.5rem 0 0;
    align-items: center;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section p a::after{
    content: "";
    display: block;
    width: 5px;
    background: teal;
    height: 3rem;
    margin-left : 475px;
    border-radius: 5px 5px 0 0;
}

.links a::before{
    content: "";
    display: block;
    width: 5px;
    background: teal;
    height: 3rem;
    margin:auto;
    border-radius: 0 0 5px 5px ;
    margin-bottom: 10px;
    margin-top: 0%;
}

.section p::after{
    content: "";
    display: block;
    width: 335px;
    background: teal;
    height: 5px;
    margin:auto;
    margin-bottom: 0;
}

.main{
    padding-left: 44px;
}

.links a{
    padding: 0;
}

.footer{
    margin-top: 90px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content:center;
    color: #039182;
    box-shadow: 0 -8px 6px -6px rgb(106, 188, 202);
}

.footer span {
    margin: 0 12px;
    color: #38a59a;
}

a{
    color: #039182;
    font-weight: bolder;
    text-decoration: none;
    transition: all;
    transition-duration: .3s;
}

a:hover{
    color: #51eeee;
}

.note{
    margin-left: 55rem;
    font-size: 2.2rem;
}

@media only screen and (max-width:900px) { 
    div.section div { 
        min-width:250px; 
    } 
}

@media only screen and (max-width:800px) { 
    div.section div { 
        width:50%; 
    } 
    div.section { 
        -moz-column-count:2; 
        column-count:2; 
    } 
}

@media only screen and (max-width:500px) { 
    div.section div { 
        width:100%; 
    } 
    div.section { 
        -moz-column-count:1; 
        column-count:1; 
    } 
    div.section p:after, div.section p a:after { 
        display:none; 
    } 
}


