*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
} 

/******************* HEADER ******************/

header {
   overflow: :hidden;
   height: 100vh;
}

.vid-bg {
   position: absolute;
   right: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;

}

.navbar-nav a{
   font-size:18px;
   font-weight: bold;

}

.navbar-light .navbar-brand{
  color:white;
   font-size:35px;
   font-weight:bold;
}
.brand1{
   color: #3CAEA3;
   padding-right: .5rem;
}
.navbar-light .navbar-brand:hover{
	color:white;
}
.nav-items{
  color:white !important;
  margin-left: 3rem;
  padding-right: 2rem !important;
}
 .navbar-nav .nav-link{
   color:#fff;
}
.navbar-nav{
  text-align:center;
}
.nav-link{
   padding:.2rem 1rem;
}
 
 .nav-items:hover{
     color: #3CAEA3!important;
 }
.banner-text{
  position: absolute;
  top:35%;
  text-align:center;
  left:18%;
}

.banner-text h2{
  color: #fff;
  font-size:85px;
  margin:0;

}

.banner-text h2 span{
	color: #3CAEA3;
}

.banner-text p{
  color: #b8d5cd;
  font-size: 30px;
  margin:0;
  font-weight: bold;
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 5vh;
  display: block;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 35px;
  height: 35px;
  border-bottom: 2px solid #3CAEA3;
  border-right: 2px solid #3CAEA3;
  z-index: 9;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 2s ease-in-out infinite;
  -moz-animation: fade_move_down 2s ease-in-out infinite;
  animation: fade_move_down 2s ease-in-out infinite;
}

/*animated scroll arrow animation*/

@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

/******************* ABOUT ***********************/

.about {
    padding: 100px 0px 60px;
    height: 750px;
}

.about h1 {
    font-size: 50px;
    font-weight: bold;
}
hr{
    border: 1px solid #3CAEA3;
    display: block;
    width:80px;
    margin: auto;

}
.about p {
   font-size: 30px;
}

.about-content{
    margin-top: 50px;
}

/**************** MEMBERSHIP ****************/

.color-block{
  position: absolute;
  height: 50%;
  padding: 0;
  color:#fff;
}
.block-left{
   background-color: #3CAEA3;
}
.block-right{
  right:0;
}
.heading {
   position: absolute;
   font-color:#fff;
   z-index: 1;
   margin-left: 750px;
   margin-top:30px;
   padding: 10px;
   border-radius: 8px;
   background-color: #fff;
}

.image {
   height: 50px;
   width: 50px;
   margin: 70px 90px;
}
.small-block {

    background-color: #B4D6C1;
    height: 200px;
    width:700px;
    margin:auto;
    top:40%;
    left:14%;
    position: absolute;
    transition: all .5s ease-in-out;
    border-radius: 20px;
}
.small-block:hover {
   box-shadow: 3px 3px 10px #ccc;
   transform: translateY(-10px);
}
.visit {
   background-color: #d3ccaB;
    height: 100px;
    width:300px;
    margin:auto;
    margin-top:50px;
    left:14%;
    
}
.visit a{
   text-decoration: none;
   color:#fff;
   font-weight: bold;
    font-size: 30px;
}
.visit-here {
   display: block;
   position: absolute;
    margin-top:25px;
    margin-left:70px;
}