@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap");

/******************* PRELOADER ******************/
#preloader{
    width: 100%;
    height: 100vh;
    background:linear-gradient(#3caea3,#0e2431,#3caea3);
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 9999;
}
.loader-div{
    width: 10rem;
    height: 10rem;
   position: relative;
   border-radius: 50%;
}
.heading{
    position: absolute;
    color:#fff;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loader{
    position: absolute;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    animation: rot 1s linear infinite;
   border-right: 4px solid #3caea3;
   border-left: 4px solid #fff;
}
@keyframes rot{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}     
body {
    font-family: "Poppins", sans-serif !important;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

li {
    list-style: none !important;
}


/******************* HEADER ******************/

header {
    overflow: hidden;
    height: 100vh;
}

.vid-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.navbar-nav a {
    font-size: 18px;
    font-weight: bold;
}

.nav-col {
    background-color: #0e2431;
    opacity: 0.8;
}

.navbar-light .navbar-brand {
    color: white;
    font-weight: bold;
}

.brand1 {
    color: #3caea3;
    padding-right: 0.5rem;
}

.navbar-light .navbar-brand:hover {
    color: white;
}

.nav-items {
    color: white !important;
    margin-left: 3rem;
    padding-right: 2rem !important;
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    padding: 0.2rem 1rem;
}

.nav-items:hover {
    color: #3caea3 !important;
}

.banner-text {
    position: absolute;
    top: 35%;
    z-index: 1;
}

.banner-text .main-head {
    color: #fff;
    font-size: 4rem;
    margin: 0;
}

.banner-text .main-head span {
    color: #3caea3;
}

.banner-text p {
    color: #b8d5cd;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
}

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 5vh;
    display: block;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 35px;
    height: 35px;
    border-bottom: 2px solid #3caea3;
    border-right: 2px solid #3caea3;
    z-index: 9;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 2s ease-in-out infinite;
    -moz-animation: fade_move_down 2s ease-in-out infinite;
    animation: fade_move_down 2s ease-in-out infinite;
}



/*animated scroll arrow animation*/

@-webkit-keyframes fade_move_down {
    0% {
        -webkit-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@-moz-keyframes fade_move_down {
    0% {
        -moz-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@keyframes fade_move_down {
    0% {
        transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}


/******************* ABOUT ***********************/

.about {
    padding: 150px 0px;
}

.about h1 {
    font-size: 50px;
    
    font-weight: bold;
    backdrop-filter: blur(20px);
}

/*hr {
    border: 1px solid #3caea3;
    display: block;
    width: 80px;
    margin: auto;
}
*/
.about p {
    font-size: 23px;
}

.about-content {
    margin-top: 50px;
}


/************* TEAM **************/

.team {
    margin-top: 200px;
}

.wrapper {
    width: 1152px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60vh;
    margin: 0 auto;
    position: relative;
}

.round-1 {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    box-shadow: 0 0 40px #3caea3;
    background: linear-gradient(-180deg, #22ffed, #49b1ad);
}

.round-2 {
    position: absolute;
    top: 50%;
    right: 4%;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    box-shadow: 0 0 50px #5622ff;
    background: linear-gradient(-180deg, #5622ff, #49b1ad);
}

.box {
    width: 350px;
    height: 500px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff1a;
    padding: 1.5rem;
    border-radius: 25px;
    box-shadow: 0 0 20px #3caea3;
    border: 2px solid #0000002a;
    text-align: center;
    backdrop-filter: blur(20px);
    margin-bottom: 50px !important;
    margin-top: 40px !important;
}

.box-raghav {
    margin: auto;
}

.profile-img {
    width: 200px !important;
    height: 200px !important;
    border-radius: 5px !important;
    overflow: hidden;
    object-fit: cover;
}


/* .profile-img img {
  width: 100%;
  height: 100%;
} */

.box h2 {
    color: #ffffff60;
    text-transform: uppercase;
    margin: 15px 0;
}

.custom-size {
    font-size: 30px;
}

.box p {
    color: #ffffff90;
    font-size: 14px;
}

.socials {
    margin-top: 35px;
}

.socials i {
    margin: 0 10px;
    font-size: 25px;
}

.socials a {
    text-decoration: none;
    color: #ffffff90;
}


/*********** footer ***********/

.email {
    left: 60%;
}

.fas-email {
    font-size: 300%;
}

.e-add {
    font-size: 200%;
}

#footer {
    padding: 100px 0px 40px 0px;
    background-image: linear-gradient(130deg, #05272e 40%, #183a36 100%);
    /* background-image:linear-gradient(130deg, #ffa159 10%, #ff39b4 51%, #ffa159 100%);    */
}

.subscribe-box {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.subscribe-button {
    background: #3caea3 !important;
}

.copyright-text {
    font-size: 14px;
    letter-spacing: 0.6px !important;
}


/* for scroll to top button */

#button {
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 100;
}

.mt-small-2 {
    margin-top: 0rem !important;
}

.mt-small-5 {
    margin-top: 0rem !important;
}

.mb-small-2 {
    margin-bottom: 0rem !important;
}

.mb-small-5 {
    margin-bottom: 0rem !important;
}


/*
...........responsive.............*/

@media (min-width: 575px) and (max-width: 767px) {
    .about {
        height: 1100px;
    }
}

@media (min-width: 460px) and (max-width: 574px) {
    .about {
        height: 900px;
        padding: 0 20px;
    }
}

@media (max-width: 479px) {
    .header {
        height: 70vh;
    }
    .navbar-light .navbar-brand {
        font-size: 20px;
    }
    .banner-text p {
        font-size: 20px;
    }
    .banner-text .main-head {
        font-size: 2rem;
    }
    .about p {
        font-size: 20px;
    }
}
#coding {
    width: 30%;
    margin: 0 auto;
    display: flex;
    align-items: center;
      justify-content: center; 
  }
  #left, #right{
    animation: typing 0.2s cubic-bezier(.18,.85,.72,.22) infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
  }
  
  @keyframes typing {
    0% {
      transform: rotateZ(-10deg);
    }
    100% {
      transform: rotateZ(10deg);
    }
  }
  @keyframes move-head {
   0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(5px);
    }
  }
  #head {
    animation: move-head 1s cubic-bezier(.41,.16,.24,.71) infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
  }
  

/**** team responsive ****/

@media (max-width: 1200px) {
    .wrapper {
        max-width: 900px;
    }
}

@media (max-width: 992px) {
    .wrapper {
        max-width: 700px;
        flex-direction: column;
    }
    .round-1 {
        display: none;
    }
    .box {
        margin-bottom: 20px;
    }
}

@media (max-width: 720px) {
    .wrapper {
        max-width: 700px;
        flex-direction: column;
    }
    .box {
        margin-bottom: 30px;
        width: 400px;
        height: 400px;
    }
    .round-1 {
        display: none;
    }
}

@media (max-width: 576px) {
    .wrapper {
        max-width: 400px;
        flex-direction: column;
    }
    .round-1 {
        display: none;
    }
    .round-2 {
        display: none;
    }
    .box {
        width: 300px;
        height: auto !important;
    }
    .box h2,
    .custom-size {
        font-size: 15px;
    }
    .box p {
        font-size: 10px;
    }
    .box i {
        font-size: 15px;
    }
}

@media (max-width: 380px) {
    .wrapper {
        max-width: 30px;
        flex-direction: column;
    }
    .round-1 {
        display: none;
    }
    .round-2 {
        display: none;
    }
    .box {
        width: 300px;
        height: 400px;
    }
    .box-raghav {
        margin: 0;
    }
    .box h2,
    .custom-size {
        font-size: 15px;
    }
    .box p {
        font-size: 10px;
    }
    .box i {
        font-size: 15px;
    }
}

.bg-black {
    background: black !important;
}

@media (max-width: 768px) {
    .mobile-heading {
        font-size: 40px !important;
    }
    .margin-top-mobile {
        padding-top: 15px;
    }
}
