* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-page {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/video/background.gif);
  background-position: center;
  background-size: cover;
  position: absolute;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-left: 50px;
  padding-right: 30px;
  padding-top: 50px;
}

.navbar img {
  width: 35px;
}

.navbar div a span {
  text-decoration: none;
  color: green;
  font-size: 38px;
  position: static;
}

nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 70px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: sans-serif;
  transition: font-size 0.5s;
}

nav ul li button {
  font-size: 20px;
  color: white;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: sans-serif;
  transition: font-size 0.5s;
}
nav ul li button:hover {
  color: rgb(2, 51, 2);
  font-size: 25px;
  text-decoration: overline white;
}

nav ul li a:hover {
  color: rgb(2, 51, 2);
  font-size: 25px;
  text-decoration: overline white;
}

a {
  text-decoration: none;
  color: rgb(100, 160, 11);
  font-size: 38px;
}

/*--------------------------------------------------------*/
/*Form*/
/*--------------------------------------------------------*/

#login-form {
  display: none;
}

.form-box {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 2.6% 40.9%;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  overflow: hidden;
  box-shadow: 0 0px 2px 0px;
}

.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px rgb(9, 82, 9);
  border-radius: 30px;
}

.toggle-btn {
  padding: 10px 28px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: rgb(11, 219, 73);
  border-radius: 30px;
  transition: 0.5s;
}

.input-group-login {
  top: 150px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.input-group-register {
  top: 120px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(rgba(9, 192, 25, 0.377), rgb(7, 151, 19)),
    rgba(4, 131, 4, 0.836);
  border-radius: 30px;
  border: 0;
  outline: none;
}

.check-box {
  margin: 30px 10px 27px 0;
}

span {
  color: rgb(189, 186, 186);
  font-size: 12px;
  bottom: 60px;
  position: absolute;
}

#login {
  left: 50px;
}

#login input {
  color: white;
  font-size: 15;
}

#register {
  left: 450px;
}

#register input {
  color: white;
  font-size: 15;
}
