*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
} 

/******************* HEADER ******************/

.bgimg {
    background-image: url('../images/Neuron-1.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}
.brand1{
   color: #3CAEA3;
   padding-right: .5rem;
}
.headerset {
    padding-top: 15.6rem;
    box-sizing: border-box;
}

.headerset h2 {
    font-size: 2.6rem;
      color: #b8d5cd;

}
.headerset h1 {
    font-size: 5rem;
    font-weight: bold;
    font-color: #3CAEA3;
}


.headerset {
    padding-top: 15.5rem
    box-sizing: border-box;
    z-index:7;
}

.headerset h2 {
    font-size: 2.6rem;
    
}
.headerset h1 {
    font-size: 5.1rem;
    
    font-weight: bold;
}
.nav-col{
   background-color:#0e2431;
   opacity: .8;

}
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 5vh;
  display: block;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 35px;
  height: 35px;
  border-bottom: 2px solid #3CAEA3;
  border-right: 2px solid #3CAEA3;
  z-index: 9;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 2s ease-in-out infinite;
  -moz-animation: fade_move_down 2s ease-in-out infinite;
  animation: fade_move_down 2s ease-in-out infinite;
}

/*animated scroll arrow animation*/

@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

/******************* ABOUT ***********************/
.about {
    padding: 100px 0px 60px;
    height: 750px;
}
.about h1 {
    font-size: 50px;
    font-weight: bold;
}
.setting {
    margin-top:50px;
}
hr{
    border: 1px solid #3CAEA3;
    display: block;
    width:80px;
    margin: auto;

}

/**************** MEMBERSHIP ****************/

.color-block{
  position: absolute;
  height: 50%;
  padding: 0;
  color:#fff;
}
.block-left{
   background-color: #3CAEA3;
}
.block-right{
  right:0;
}
.heading {
   position: absolute;
   font-color:#fff;
   z-index: 1;
   margin-left: 750px;
   margin-top:30px;
   padding: 10px;
   border-radius: 8px;
   background-color: #fff;
}

.image {
   height: 50px;
   width: 50px;
   margin: 70px 90px;
}
.small-block {

   background-image: linear-gradient(to right top, #49b1ad, #37aea0, #2aaa90, #26a67d, #2ca169);
    height: 200px;
    width:700px;
    margin:auto;
    top:40%;
    left:14%;
    position: absolute;
    transition: all .5s ease-in-out;
    border-radius: 20px;
}
.small-block:hover {
   box-shadow: 3px 3px 10px #ccc;
   transform: translateY(-10px);
}
.visit {
   background-color: #fff;
   padding:2px;
    height: 100px;
    width:300px;
    margin:auto;
    margin-top:50px;
    left:14%;
    z-index:1;
    
}
.visit a{
   text-decoration: none;
   color:black;
   font-weight: bold;
    font-size: 30px;
}
.visit-here {
   display: block;
   position: absolute;
    background-color: #fff;
   border: 2px solid darkgreen;
    margin:20px 33px;
    padding:2px 40px;
}

